# GDM configuration storage
#
# See /usr/share/gdm/gdm.schemas for a list of available options.

[daemon]
# Uncomment the line below to force the login screen to use Xorg
{% if cis_ubuntu2204_rule_1_7_11 is defined and cis_ubuntu2204_rule_1_7_11  and cis_ubuntu2204_allow_gdm_gui is defined and cis_ubuntu2204_allow_gdm_gui %}
WaylandEnable=false
{% else %}
#WaylandEnable=false
{% endif %}

# Enabling automatic login
#  AutomaticLoginEnable = true
#  AutomaticLogin = user1

# Enabling timed login
#  TimedLoginEnable = true
#  TimedLogin = user1
#  TimedLoginDelay = 10

[security]

[xdmcp]
{% if cis_ubuntu2204_rule_1_7_10 is defined and cis_ubuntu2204_rule_1_7_10 and cis_ubuntu2204_allow_gdm_gui is defined and cis_ubuntu2204_allow_gdm_gui %}
Enable=false
{% else %}
#Enable=false
{% endif %}

[chooser]

[debug]
# Uncomment the line below to turn on debugging
# More verbose logs
# Additionally lets the X server dump core if it crashes
#Enable=true
