---
##### CI for use by github no need for action to be added
##### https://pre-commit.com/hooks.html
##### Inherited
ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - ansible-lint

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=ihs,ro,fo,iif,chage
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types:
          - csv
          - json

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Safety
      - id: detect-private-key

      # git checks
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict

      # General checks
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        description: This hook trims trailing whitespace.
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: mixed-line-ending

  # Scan for passwords
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files=templates/pam/pwquality
          - --exclude-files=templates/pam/pwhistory.j2

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1 # or higher tag
    hooks:
      - id: yamllint

  # ANSIBLE --------------------------------------------------------------------
  - repo: https://github.com/ansible-community/ansible-lint
    rev: v24.7.0
    hooks:
      - id: ansible-lint
        name: Ansible-lint
        description: This hook runs ansible-lint.
        entry: python3 -m ansiblelint -v --force-color -c .ansible-lint
        language: python
        # do not pass files to ansible-lint, see:
        # https://github.com/ansible/ansible-lint/issues/611
        pass_filenames: false
        always_run: true
        additional_dependencies:
          # https://github.com/pre-commit/pre-commit/issues/1526
          # If you want to use specific version of ansible-core or ansible, feel
          # free to override `additional_dependencies` in your own hook config
          # file.
          - ansible-core>=2.16.5
