{{ ansible_managed | comment }}

{% if cis_ubuntu2204_rule_6_1_2_5 is defined and cis_ubuntu2204_rule_6_1_2_5 %}
*.emerg                                  :omusrmsg:*
auth,authpriv.*                          /var/log/auth.log
mail.*                                  -/var/log/mail.log
mail.info                               -/var/log/mail.info
mail.warning                            -/var/log/mail.warn
mail.warn 			                        -/var/log/mail.warn
mail.err                                 /var/log/mail.err
cron.*                                   /var/log/cron.log
*.=warning;*.=err                       -/var/log/warn
*.crit                                   /var/log/warn
*.*;mail.none;news.none                 -/var/log/debug
local0,local1.*                         -/var/log/localmessages
local2,local3.*                         -/var/log/localmessages
local4,local5.*                         -/var/log/localmessages
local6,local7.*                         -/var/log/localmessages

#daemon.*                               -/var/log/daemon.log
kern.*                                  -/var/log/kern.log
#lpr.*                                  -/var/log/lpr.log
#user.*                                 -/var/log/user.log
{% endif %}

{% if cis_ubuntu2204_rule_6_1_2_6 is defined and cis_ubuntu2204_rule_6_1_2_6 and cis_ubuntu2204_set_rsyslog_remote_target is defined and cis_ubuntu2204_set_rsyslog_remote_target is not none and cis_ubuntu2204_set_rsyslog_remote is defined and cis_ubuntu2204_set_rsyslog_remote %}
*.* action(type="omfwd" target="{{ cis_ubuntu2204_set_rsyslog_remote_target }}" port="{{ cis_ubuntu2204_set_rsyslog_remote_port }}" protocol="{{ cis_ubuntu2204_set_rsyslog_remote_protocol }}"
           action.resumeRetryCount="100"
           queue.type="LinkedList" queue.size="1000")
{% endif %}
