Name: pwhistory password history checking
Default: yes
Priority: 1024
Password-Type: Primary
Password:
        requisite                       pam_pwhistory.so {{ cis_ubuntu2204_pwhistory_remember }} {{ cis_ubuntu2204_pwhistory_enforce_for_root }} {{ cis_ubuntu2204_pwhistory_use_authtok }}
