{% set cis_ubuntu2204_rule_1_1_2_3_options = [] %}
{% set _ = cis_ubuntu2204_rule_1_1_2_3_options.append('rw') %}
{% set _ = cis_ubuntu2204_rule_1_1_2_3_options.append('relatime') %}
{% set _ = cis_ubuntu2204_rule_1_1_2_3_options.append('seclabel') %}
{% if cis_ubuntu2204_rule_1_1_2_3_2 %}{% set _ = cis_ubuntu2204_rule_1_1_2_3_options.append('nodev') %}{% endif %}
{% if cis_ubuntu2204_rule_1_1_2_3_3 %}{% set _ = cis_ubuntu2204_rule_1_1_2_3_options.append('nosuid') %}{% endif %}
{% set cis_ubuntu2204_rule_1_1_2_3_options = cis_ubuntu2204_rule_1_1_2_3_options|join(',') %}
[Unit]
Description=Temporary Directory /home
ConditionPathIsSymbolicLink=!/home
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
Where=/home
What=/dev/sdb
Type=ext4
Options={{ cis_ubuntu2204_rule_1_1_2_3_options }}

# Make 'systemctl enable home.mount' work:
[Install]
WantedBy=local-fs.target
