{% set cis_ubuntu2204_rule_1_1_2_options = [] %}
{% set _ = cis_ubuntu2204_rule_1_1_2_options.append('mode=1777') %}
{% set _ = cis_ubuntu2204_rule_1_1_2_options.append('strictatime') %}
{% if cis_ubuntu2204_rule_1_1_2_2 %}{% set _ = cis_ubuntu2204_rule_1_1_2_options.append('nodev') %}{% endif %}
{% if cis_ubuntu2204_rule_1_1_2_3 %}{% set _ = cis_ubuntu2204_rule_1_1_2_options.append('noexec') %}{% endif %}
{% if cis_ubuntu2204_rule_1_1_2_3 %}{% set _ = cis_ubuntu2204_rule_1_1_2_options.append('nosuid') %}{% endif %}
{% set cis_ubuntu2204_rule_1_1_2_options = cis_ubuntu2204_rule_1_1_2_options|join(',') %}
[Unit]
Description=Temporary Directory /tmp
ConditionPathIsSymbolicLink=!/tmp
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=tmpfs
Where=/tmp
Type=tmpfs
Options={{ cis_ubuntu2204_rule_1_1_2_options }}
