{% set cis_ubuntu2204_rule_1_1_6_options = [] %}
{% if cis_ubuntu2204_rule_1_1_6_2 %}{% set _ = cis_ubuntu2204_rule_1_1_6_options.append('noexec') %}{% endif %}
{% if cis_ubuntu2204_rule_1_1_6_3 %}{% set _ = cis_ubuntu2204_rule_1_1_6_options.append('nodev') %}{% endif %}
{% if cis_ubuntu2204_rule_1_1_6_4 %}{% set _ = cis_ubuntu2204_rule_1_1_6_options.append('nosuid') %}{% endif %}
{% set cis_ubuntu2204_rule_1_1_6_options = cis_ubuntu2204_rule_1_1_6_options|join(',') %}
[Unit]
Description=Temporary Directory /var/log/audit
ConditionPathIsSymbolicLink=!/var/log/audit
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=ext4
Where=/var/log/audit
Type=ext4
Options={{ cis_ubuntu2204_rule_1_1_6_options }}
