-a always,exit -F arch=b64 -S chmod,fchmod,fchmodat -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
-a always,exit -F arch=b64 -S chown,fchown,lchown,fchownat -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
-a always,exit -F arch=b64 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
-a always,exit -F arch=b32 -S chmod,fchmod,fchmodat -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
-a always,exit -F arch=b32 -S lchown,fchown,chown,fchownat -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
-a always,exit -F arch=b32 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -F key=perm_mod
