-a always,exit -F arch=b64 -S init_module,finit_module,delete_module,query_module -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -k kernel_modules
-a always,exit -F path=/usr/bin/kmod -F perm=x -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=unset -k kernel_modules
