-a always,exit -F arch=b64 -S mount -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=-1 -F key=mounts
-a always,exit -F arch=b32 -S mount -F auid>={{ cis_ubuntu2204_audit_uid_min }} -F auid!=-1 -F key=mounts
